body{
font-family: Arial;
background: black;
color: white;
text-align: center;
}

.container{
margin-top: 50px;
}

.grid{
display: grid;
grid-template-columns: repeat(3, 120px);
gap: 10px;
justify-content: center;
margin: 20px;
}

.grid img{
width:120px;
height:120px;
object-fit: cover;
cursor:pointer;
border:3px solid transparent;
}

.grid img.selected{
border:3px solid red;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

.hidden{
display:none;
}

#sorpresa{
margin-top:100px;
animation: aparecer 2s;
}

@keyframes aparecer{
from{opacity:0; transform:scale(0);}
to{opacity:1; transform:scale(1);}
}

/* corazones */

.corazones::before{
content:"❤️ ❤️ ❤️ ❤️ ❤️";
font-size:40px;
animation: float 3s infinite;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}
}

