body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

/* centrar */

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* captcha */

.captcha-box{

display:flex;
justify-content:space-between;
align-items:center;

background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.2);

width:300px;

}

.captcha-left{
display:flex;
align-items:center;
gap:10px;
}

.captcha-right{
text-align:center;
font-size:10px;
}

/* fotos */

.photo-box{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.2);

}

.grid{

display:grid;
grid-template-columns:repeat(3,120px);
gap:10px;
margin:20px;

}

.grid img{

width:120px;
height:120px;
object-fit:cover;
cursor:pointer;
border:4px solid transparent;

}

.grid img.selected{

border:4px solid #ff69b4;

}

/* final */

.final{

background:pink;
height:100vh;
text-align:center;
color:white;

animation:fade 2s;

}

.final h1{

font-size:60px;

}

.final video{

width:300px;
border-radius:20px;

}

/* animacions */

@keyframes fade{

from{opacity:0;}
to{opacity:1;}

}

/* cors */

.hearts::before{

content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
font-size:40px;
animation:float 2s infinite;

}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}

}

.hidden{

display:none;

}
